*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "tahoma";
    color:crimson;
    
}

#encabezado{
    font-size: 2em;
    margin-top: 20px;
    text-shadow: 3px 3px 3px  #ccc;
    text-align: center;
    color:green;

}

#cuerpo, #pie{    
    width: 50%;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}

#pie{
    color:green;
}